.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f8eea1;
    height: 100vh;
}

.error-code {
    font-size: 10rem;
    font-weight: bold;
    color: #ff6f61;
}

.error-message {
    font-size: 1.5rem;
    color: #333;
}

.home-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff6f61;
    text-decoration: none;
    border-radius: 5px;
}

.home-link:hover {
    background-color: #ff4a3d;
}